/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bc: #000028;
  --font-family: 'IBM Plex Mono', sans-serif;
  --accent-color: #ff0070;
  --text-background-color: #ff0070;
  --title-color: #db00ff;
  --title-text-color: #000028;
  --text-color: #f1b2ce;
  --title-shadow-color: #ff0070;
  --bi: url(../images/cover-image-dark.png);
  --link-shadow: #ff0070;
  --link-border: #f1b2ce;
}
