/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bc: #000028;
  --font-family: 'IBM Plex Mono', sans-serif;
  --accent-color: #FF0070;
  --text-background-color: #FF0070;
  --title-color: #DB00FF;
  --title-text-color: #000028;
  --text-color: #F1B2CE;
  --title-shadow-color:#FF0070;
  --bi: url(../images/cover-image-dark.png);
  --link-shadow: #FF0070;
  --link-border: #F1B2CE;

}