/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --second-accent-color: #000028;
  --font-family: 'IBM Plex Mono', sans-serif;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
}